body {
    font-family: "Segoe UI Variable Display", sans-serif;
    background-color: #2f2f3e;
    color: white;
}

* {
    user-select: none;
}

body * {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.ui.surface {
    width: 480px;
    height: 640px;
}
.ui.surface .sprite.building.bg_lift_top {
    position: absolute;
    right: 5px;
    bottom: 113px;
}
.ui.surface .sprite.building.e_034 {
    position: absolute;
    bottom: 40px;
    right: 16px;
    animation: building_e-034_surface 3s linear infinite;
    animation-delay: 4.5s;
}

.ui.floor {
    width: 480px;
    height: 128px;
}
.ui.floor .number {
    position: absolute;
    bottom: 4px;
    left: 4px;
    text-align: right;
    position: absolute;
    bottom: 3px;
    left: 3px;
    text-align: right;
    font-size: 10pt;
    width: 47px;
    padding-right: 3px;
    padding-bottom: 1.19px;
    line-height: 1em;
    color: #aaa;
}
.ui.floor .sprite.building.bg_lift {
    position: absolute;
    top: 11px;
    right: 14px;
}
.ui.floor .sprite.building.e_034 {
    position: absolute;
    top: -40px;
    right: 16px;
    animation: building_e-034_floor 3s linear infinite;
}

@keyframes building_e-034_surface {
    0% {bottom: 47px;}
    50% {bottom: 105px;}
    75% {opacity: 1;}
    100% {bottom: 105px; opacity: 0;}
}
@keyframes building_e-034_floor {
    0% {top: 76px;}
}